@import "tailwindcss";

:root {
  --black: #001524;
  --casal: #15616d;
  --off-white: #ffecd1;
  --orange: #ff7d00;
  --brown: #78290f;

  /* Filters */
  --filter-off-white: invert(89%) sepia(30%) saturate(480%) hue-rotate(313deg)
    brightness(108%) contrast(101%);
  --filter-casal: invert(27%) sepia(90%) saturate(437%) hue-rotate(140deg)
    brightness(91%) contrast(87%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-comic), system-ui, sans-serif;
  background-color: var(--off-white);
  background-image: radial-gradient(
    var(--orange) 0.95px,
    var(--off-white) 0.95px
  );
  background-size: 19px 19px;
}

.filter-off-white {
  filter: var(--filter-off-white);
}
.filter-casal {
  filter: var(--filter-casal);
}
