---
import type { ProfileLink as LinkType } from "../content/links";
import ProfileLink from "./ProfileLink.astro";

interface Props {
  links: LinkType[];
}

const { links } = Astro.props;
---

<div class="flex flex-wrap gap-6">
  {links.map((link) => <ProfileLink {...link} />)}
</div>
